/Display$1.class
/Display$2.class
/Display.class
/Gene.class
/IAlimento.class
/IAmbiente.class
/ICasa.class
/IComensal.class
/IDisplay.class
/IDisputa.class
/IIndividuo.class
/IPropriedades.class
/IReproducao.class
/Posicao.class
/Test.class
/main.class
